<app-loading-spinner *ngIf="!user"></app-loading-spinner>

<div *ngIf="user">
    <table>
        <caption>Details of user #{{user.id}} - {{user.username}}</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Name">{{user.name}}</td>
                <td data-label="Email">{{user.email}}</td>
                <td data-label="Phone">{{user.phone}}</td>
                <td data-label="Website">{{user.website}}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>address</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Street</th>
                <th>Suite</th>
                <th>Zipcode</th>
                <th>Geolocation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="City">{{user.address.city}}</td>
                <td data-label="Street">{{user.address.street}}</td>
                <td data-label="Suite">{{user.address.suite}}</td>
                <td data-label="Zipcode">{{user.address.zipcode}}</td>
                <td data-label="Geolocation">{{user.address.geo.lat}}, {{user.address.geo.lng}}</td>
            </tr>
        </tbody>
    </table>

    <button id="deleteButton" (click)="deleteUser()">Delete user</button>
</div>

<button (click)="navigateBackToList()">Back to list</button>